--- command line file manager project ---

description: console app that can present the list of files/folders and allows user to move between items using keyboard key. In other words, it is like a file manager but presented in the command line instead of gui.

platform: windows, .net core


features:
- use config file, git, branch, tag

- show list of files/folders
- move over items using keyboard key
- select folder to view its child files/folders
- ...

date start: 21/2/2020
date end: ...